.agent{
    line-height: 1.5;
    background-image: url('../assets/image/bg-img.jpg');
    background-size: cover;
    padding: 7rem 4rem 3rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.agent-desc{
    display: flex;
    width: 70%;
    gap:3rem;
}

.avatar{
    object-fit: contain;
    height: 450px;
}

.agent h1{
    font-family: vermin-vibes;
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

.agent p{
    font-size: medium;
}

.role{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 1.3rem;
}

.role img{
    height: 30px;
}

.role p{
    font-size: larger;
    font-weight: bold;
    color: #565656;
    font-style: italic;
}

.name{
    width: 50%;
    align-self: center;
}

.skill{
    width: 50%;
    min-height: 350px;
    height: 100%;
    background-color: #565656;
    border-radius: 10px;
    padding: 2rem 1rem 2rem 1rem;
}

.skill-icon{
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    gap: 1.3rem;
    height: 20%;
    margin-bottom: 2rem;
}

.skill h2, .skill p{
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
    text-align: center;
    color: #eeeeee;
}

.icon {
    object-fit: contain;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    height: 60px;
}
  
.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}
  
.icon.active {
    opacity: 1;
    border-bottom: 2px solid orange;
}


@media (max-width:1140px) {
    .agent{
        padding: 7rem 2rem 3rem 2rem;
    }

    .agent-desc{
        flex-direction: column;
        width: 40%;
    }

    .avatar{
        height: 35rem;
    }

    .name{
        width: 100%;
    }

    .skill{
        width: 100%;
    }

    .skill-icon{
        margin-bottom: 0.8rem;
    }

    .skill h2{
        margin-top: 0;
    }

    .icon{
        height: 48px;
    }
}

@media (max-width:768px) {
    .agent{
        flex-direction: column-reverse;
        padding-top: 5rem;
    }

    .agent-desc{
        flex-direction: column;
        width: 100%;
    }

    .avatar{
        height: 25rem;
    }

    .name{
        width: 90%;
    }

    .icon{
        height: 70px;
    }

    .skill{
        width: 90%;
        align-self: center;
    }

    .skill-icon{
        margin-bottom: 2rem;
    }
}

@media (max-width:480px) {

    .avatar{
        height: 25rem;
    }

    .name{
        width: 100%;
    }

    .name h1{
        font-size: xx-large;
    }

    .role p{
        font-size: large;
    }

    .skill{
        width: 100%;
        align-self: center;
    }

    .skill-icon{
        gap:0.5rem;
        margin-bottom: 2rem;
    }

    .icon{
        height: 45px;
    }
}