.maps{
    overflow: hidden;
    line-height: 0%;
}

.maps-container{
    background-image: url('../assets/image/maps/maps-bg.jpg');
    background-size: cover;
    background-position: top 4rem center;
    /* margin-top: 4rem; */
    padding: 10rem 19rem 15rem 19rem;
    top:0;
    left:0;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.location-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.location-container a{
    height: 0;
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 0.1rem;
    text-decoration: none;
}

.location-container p{
    text-shadow: 0px 0px 5px black;
    color: #eeeeee;
    font-weight: 500;
}

.location-container img{
    height: 3.5rem;
    width: 3.5rem;
}

.loc1{
    margin-top: 14rem;
}

.loc2{
    margin-top: 8rem;
}

.loc3{
    margin-top: 18rem;
}

.loc4{
    margin-top: 2rem;
}

.loc5{
    margin-top: 10rem;
}

.map-description{
    background-image: url('../assets/image/bg-img.jpg');
    justify-content: center;
    display: flex;
    height: 100%;
    /* overflow: hidden; */
    width: 100%;
    line-height: 1rem;
    flex-direction: column;
    padding: 6% 15%;
    z-index: 5;
}

.map-description-text h1{
    text-align: center;
    font-family: vermin-vibes;
    line-height: 4rem;
    width: 100%;
    font-size:xxx-large;
    color: #222222;
}

.title-underline{
    justify-self: center !important;
}

.map-description-text p{
    /* text-shadow: 0px 0px 10px black; */
    text-align: center;
    line-height: 1.7rem;
    margin-top: 1.5rem;
    font-size: large;
    color: #222222;
    height: 100%;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-shrink: 0;
    transition: transform 0.6s ease-in-out;
}

.slide {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev, .next{
    background-color: rgba(2,2,2,0.6);
    color: #eeeeee;
    border: 2px solid #eeeeee;
    font-size: 2rem;
    width: 50px;
    height: 60px;
    position: absolute;
    top:50%;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    transform: translateY(-50%);
}

.prev:hover, .next:hover{
    background-color: rgba(220,220,220,0.2);
    color: #eeeeee;
    border-color: #eeeeee;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.dots-container{
    text-align: center;
}

.dot{
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    cursor:pointer;
    background-color: #898989;
    display: inline-block;
}

.dot.active{
    background-color: #535353;
}

@media (max-width: 768px) {
    .maps-container{
        background-position: top 3.2rem center;
        height: 440px;
        padding: 6rem 10rem 9rem 10rem;
    }   

    .location-container a{
        height: 0;
    }

    .location-container{
        width: 300px;
    }
    
    .location-container p{
        font-size: small;
    }
    
    .location-container img{
        height: 2.5rem;
        width: 2.5rem;
    }

    .loc1{
        margin-top: 9rem; 
    }
    
    .loc2{
        margin-top: 5rem;
    }
    
    .loc3{
        margin-top: 11rem;
    }
    
    .loc4{
        margin-top: 1rem;
    }
    
    .loc5{
        margin-top: 7rem;
    }

    .map-description{
        padding: 6% 10%;
    }

    .map-description-text h1{
        line-height: normal;
        font-size: xx-large;
    }

    .map-description-text p{
        font-size: 15px;
        line-height: 1.5;
    }
    
}

@media (max-width: 480px) {
    .maps-container{
        height: 300px;
    }   

    .location-container a{
        height: 0;
    }

    .location-container{
        width: 190px;
    }
    
    .location-container p{
        font-size: x-small;
    }
    
    .location-container img{
        height: 2rem;
        width: 2rem;
    }

    .loc1{
        margin-top: 5.5rem; 
    }
    
    .loc2{
        margin-top: 2.5rem;
    }
    
    .loc3{
        margin-top: 6.5rem;
    }
    
    .loc4{
        margin-top: 0rem;
    }
    
    .loc5{
        margin-top: 3.5rem;
    }

    .map-description-text p{
        font-size: small;
        line-height: 1.5;
    }

    .prev, .next{
        border: 2px solid #eeeeee;
        font-size: 1.2rem;
        width: 30px;
        height: 40px;
    }
    
    .title-rect{
        width:12rem;
    }
}