.news-highlight{
    overflow: hidden;
    line-height: 0%;
    background-image: url('../assets/image/news/news-bg.jpg');
    background-size: cover;
}

.news-highlight-container{
    transition: transform 0.3s ease;
    margin-top: 4rem;
    padding: 6rem;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;
    width:100%;
    height:100%;
}

.news-highlight a{
    text-decoration: none;
}

.news-highlight-container:hover{
    transform: scale(1.02);
}

.news-highlight-text{
    width: 50%;
}

.news-highlight-text h1{
    color: white;
}

.highlight-title{
    top:0;
    font-family: vermin-vibes;
    line-height: 3rem;
    width: 100%;
    font-size:xx-large;
    font-weight:1000;
    color: #eeeeee;
    width: 100%;
}

.highlight-text h2{
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #eeeeee;
}

.highlight-description{
    line-height: 1.5rem;
    color: #cdcdcd;
}

.viewall{
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.viewall p{
    color: #eeeeee;
}

.news-highlight-thumbnail{
    height: 310px;
    object-fit:cover;
}

.news-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    line-height: 0%;
}

.news-content{
    background-image: url('../assets/image/bg-img.jpg');
    background-size: cover;

    height: 100%;
    padding: 4rem 6rem 6rem 6rem;
    top:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    row-gap: 3rem;
}

.latest-news-container{
    width: 100%;
}

.news img{
    transition: transform 0.3s ease;
    width: 100%;
    margin-bottom: 0.5rem;
}

.news h2{
    line-height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: larger;
}

.news-headline{
    font-size: 13px;
    color: #575757;
}

.news{
    text-decoration: none;
    width: 30%;
    min-width: 250px;
    line-height: 1.5rem;
    transition: transform 0.3s ease;
}

.category-dates{
    font-size: smaller;
    color: #575757;
}

.news:hover {
    transform: scale(1.05);
}

@media (max-width:768px) {
    .news-highlight-container{
        gap: 2rem;
        margin-top: 3.2rem;
        padding: 3rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .news-highlight-thumbnail{
        width: 100%;
        min-width: 0;
    }

    .news-highlight-text{
        width: 75%;
    }

    .news-content{
        height: 100%;
        padding: 3rem;
        top:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        row-gap: 3rem;
    }

    .news{
        width: 40%;
    }
    
}

@media (max-width:628px) {
    .news{
        width: 100%;
    }
}

@media (max-width:480px) {
    .latest-news{
        padding: 3rem 2rem;
    }

    .news-content{
        padding: 2.5rem;
    }

    .news-highlight-container{
        padding: 2.5rem;
    }

    .news-highlight-text{
        width: 100%;
    }

    .title-underline{
        justify-content: left;
    }
    
    .title-rect{
        width: 9rem;
    }

    .news-highlight-text h2{
        font-size: larger;
        line-height: 1.5;
    }

    .viewall p{
        font-size: small;
    }

    .news h2{
        font-size: 18px;
        line-height: 1.5;
    }
    
    .news-headline{
        font-size: 15px;
        line-height: 1.5;
    }
    
    .category-dates{
        font-size: 12px;
    }

    .news{
        min-width: 0;
    }
    
}